In [1]:
%load_ext sql

In [2]:
%sql sqlite:///vbo.db

# SQL ve Pandas DataFrame OperasyonlarÄ±

In [3]:
import pandas as pd

In [4]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [5]:
%sql sqlite:///vbo.db

In [6]:
%sql SELECT COUNT(CustomerID) AS MUSTERI_SAYISI, Country FROM Customers GROUP BY Country ORDER BY MUSTERI_SAYISI DESC;

 * sqlite:///vbo.db
Done.

[(13, 'USA'),
 (11, 'Germany'),
 (11, 'France'),
 (9, 'Brazil'),
 (7, 'UK'),
 (5, 'Spain'),
 (5, 'Mexico'),
 (4, 'Venezuela'),
 (3, 'Italy'),
 (3, 'Canada'),
 (3, 'Argentina'),
 (2, 'Switzerland'),
 (2, 'Sweden'),
 (2, 'Portugal'),
 (2, 'Finland'),
 (2, 'Denmark'),
 (2, 'Belgium'),
 (2, 'Austria'),
 (1, 'Poland'),
 (1, 'Norway'),
 (1, 'Ireland')]

In [7]:
df = %sql SELECT COUNT(CustomerID) AS MUSTERI_SAYISI, Country FROM Customers GROUP BY Country ORDER BY MUSTERI_SAYISI DESC;

 * sqlite:///vbo.db
Done.

In [8]:
df

[(13, 'USA'),
 (11, 'Germany'),
 (11, 'France'),
 (9, 'Brazil'),
 (7, 'UK'),
 (5, 'Spain'),
 (5, 'Mexico'),
 (4, 'Venezuela'),
 (3, 'Italy'),
 (3, 'Canada'),
 (3, 'Argentina'),
 (2, 'Switzerland'),
 (2, 'Sweden'),
 (2, 'Portugal'),
 (2, 'Finland'),
 (2, 'Denmark'),
 (2, 'Belgium'),
 (2, 'Austria'),
 (1, 'Poland'),
 (1, 'Norway'),
 (1, 'Ireland')]

In [9]:
df.head()

AttributeError: 'ResultSet' object has no attribute 'head'

In [ ]:
type(df)

In [ ]:
dff = pd.DataFrame(df, columns = ["MUS_SAY","ULKE"])

In [ ]:
dff

In [ ]:
dff.head()

In [ ]:
dff.plot.barh(x = "ULKE", y = "MUS_SAY");