In [1]:
%%!
pip install --trusted-host pypi.org ipython-sql

['Requirement already satisfied: ipython-sql in c:\\users\\pc\\anaconda3\\lib\\site-packages (0.4.0)',
 'Requirement already satisfied: six in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython-sql) (1.16.0)',
 'Requirement already satisfied: prettytable<1 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython-sql) (0.7.2)',
 'Requirement already satisfied: sqlalchemy>=0.6.7 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython-sql) (1.4.32)',
 'Requirement already satisfied: ipython-genutils>=0.1.0 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython-sql) (0.2.0)',
 'Requirement already satisfied: ipython>=1.0 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython-sql) (8.3.0)',
 'Requirement already satisfied: sqlparse in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython-sql) (0.4.2)',
 'Requirement already satisfied: traitlets>=5 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)',
 'Requirement already satisfied: setuptools>=18.5 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)',
 'Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)',
 'Requirement already satisfied: colorama in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)',
 'Requirement already satisfied: jedi>=0.16 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)',
 'Requirement already satisfied: matplotlib-inline in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)',
 'Requirement already satisfied: pickleshare in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)',
 'Requirement already satisfied: decorator in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)',
 'Requirement already satisfied: backcall in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)',
 'Requirement already satisfied: pygments>=2.4.0 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)',
 'Requirement already satisfied: stack-data in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)',
 'Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)',
 'Requirement already satisfied: wcwidth in c:\\users\\pc\\anaconda3\\lib\\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)',
 'Requirement already satisfied: greenlet!=0.4.17 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)',
 'Requirement already satisfied: executing in c:\\users\\pc\\anaconda3\\lib\\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)',
 'Requirement already satisfied: asttokens in c:\\users\\pc\\anaconda3\\lib\\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)',
 'Requirement already satisfied: pure-eval in c:\\users\\pc\\anaconda3\\lib\\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)']

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///vbo.db

In [4]:
%%sql
SELECT * FROM CUSTOMERS LIMIT 3;

 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]