In [1]:
%load_ext sql

In [2]:
%sql sqlite:///vbo.db

# Aggregation Fonksiyonları: Temel İstatistiksel İşlemler

In [3]:
%%sql
SELECT * FROM Products LIMIT 10;

 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31)]

In [4]:
%%sql
SELECT MIN(Price) FROM Products;

 * sqlite:///vbo.db
Done.

[(6,)]

In [5]:
%%sql
SELECT MAX(Price) FROM Products;

 * sqlite:///vbo.db
Done.

[(435,)]

In [6]:
%%sql
SELECT MIN(Price) AS min_fiyat, MAX(Price) AS max_fiyat FROM Products;

 * sqlite:///vbo.db
Done.

[(6, 435)]

In [7]:
%%sql
SELECT AVG(Price) FROM Products;

 * sqlite:///vbo.db
Done.

[(39.15584415584416,)]

In [8]:
%%sql
SELECT SUM(Price) FROM Products;

 * sqlite:///vbo.db
Done.

[(3015,)]

In [9]:
%%sql
SELECT COUNT(Price), MIN(Price), MAX(Price), AVG(Price), SUM(Price) FROM Products;

 * sqlite:///vbo.db
Done.

[(77, 6, 435, 39.15584415584416, 3015)]