In [1]:
%load_ext sql

In [2]:
%sql sqlite:///vbo.db

# GROUP BY ve Aggregation Fonksiyonları

In [3]:
%%sql
SELECT * FROM Customers LIMIT 3;

 * sqlite:///vbo.db
Done.

[(1, 'Alfreds Futterkiste', 'Maria Anders', 'Obere Str. 57', 'Berlin', '12209', 'Germany'),
 (2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (3, 'Antonio Moreno Taquería', 'Antonio Moreno', 'Mataderos 2312', 'México D.F.', '5023', 'Mexico')]

In [4]:
%%sql
SELECT COUNT(CustomerID) AS MUSTERI_SAYISI, Country FROM Customers GROUP BY Country ORDER BY MUSTERI_SAYISI DESC;

 * sqlite:///vbo.db
Done.

[(13, 'USA'),
 (11, 'Germany'),
 (11, 'France'),
 (9, 'Brazil'),
 (7, 'UK'),
 (5, 'Spain'),
 (5, 'Mexico'),
 (4, 'Venezuela'),
 (3, 'Italy'),
 (3, 'Canada'),
 (3, 'Argentina'),
 (2, 'Switzerland'),
 (2, 'Sweden'),
 (2, 'Portugal'),
 (2, 'Finland'),
 (2, 'Denmark'),
 (2, 'Belgium'),
 (2, 'Austria'),
 (1, 'Poland'),
 (1, 'Norway'),
 (1, 'Ireland')]

In [5]:
%%sql 
SELECT * FROM Products LIMIT 2;

 * sqlite:///vbo.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19)]

In [6]:
%%sql
SELECT AVG(Price) AS ORT_FIYAT, CategoryID FROM Products GROUP BY CategoryID;

 * sqlite:///vbo.db
Done.

[(42.75, 1),
 (28.25, 2),
 (33.76923076923077, 3),
 (74.9, 4),
 (23.571428571428573, 5),
 (55.166666666666664, 6),
 (32.2, 7),
 (26.5, 8)]