# JupyterLab Bağlantı Ayarları

In [1]:
%%!
pip install --trusted-host pypi.org ipython-sql

['Requirement already satisfied: ipython-sql in c:\\users\\pc\\anaconda3\\lib\\site-packages (0.4.0)',
 'Requirement already satisfied: ipython>=1.0 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython-sql) (8.3.0)',
 'Requirement already satisfied: sqlparse in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython-sql) (0.4.2)',
 'Requirement already satisfied: sqlalchemy>=0.6.7 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython-sql) (1.4.32)',
 'Requirement already satisfied: six in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython-sql) (1.16.0)',
 'Requirement already satisfied: prettytable<1 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython-sql) (0.7.2)',
 'Requirement already satisfied: ipython-genutils>=0.1.0 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython-sql) (0.2.0)',
 'Requirement already satisfied: setuptools>=18.5 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (61.2.0)',
 'Requirement already satisfied: colorama in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)',
 'Requirement already satisfied: backcall in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)',
 'Requirement already satisfied: jedi>=0.16 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.18.1)',
 'Requirement already satisfied: matplotlib-inline in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)',
 'Requirement already satisfied: stack-data in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)',
 'Requirement already satisfied: pickleshare in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)',
 'Requirement already satisfied: pygments>=2.4.0 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (2.11.2)',
 'Requirement already satisfied: traitlets>=5 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)',
 'Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)',
 'Requirement already satisfied: decorator in c:\\users\\pc\\anaconda3\\lib\\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)',
 'Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)',
 'Requirement already satisfied: wcwidth in c:\\users\\pc\\anaconda3\\lib\\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)',
 'Requirement already satisfied: greenlet!=0.4.17 in c:\\users\\pc\\anaconda3\\lib\\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)',
 'Requirement already satisfied: pure-eval in c:\\users\\pc\\anaconda3\\lib\\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)',
 'Requirement already satisfied: executing in c:\\users\\pc\\anaconda3\\lib\\site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)',
 'Requirement already satisfied: asttokens in c:\\users\\pc\\anaconda3\\lib\\site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)']

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///vbo.db

In [4]:
%%sql
SELECT * FROM Customers LIMIT 3;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers LIMIT 3;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

# Manuel Tablo Oluşturma İşlemleri

In [5]:
%%sql
CREATE TABLE yeni_tablo(firstname varchar(20),
                       lastname varchar(20));

 * sqlite:///vbo.db
(sqlite3.OperationalError) table yeni_tablo already exists
[SQL: CREATE TABLE yeni_tablo(firstname varchar(20),
                       lastname varchar(20));]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [6]:
%%sql 
INSERT INTO yeni_tablo values('Ali', 'Uzaya_Git');

 * sqlite:///vbo.db
1 rows affected.

[]

In [7]:
%%sql
SELECT * FROM yeni_tablo;

 * sqlite:///vbo.db
Done.

[('Ali', 'Uzaya_Git'), ('Işık', 'Süte_Devam'), ('Ali', 'Uzaya_Git')]

In [8]:
%%sql 
INSERT INTO yeni_tablo values('Işık', 'Süte_Devam');

 * sqlite:///vbo.db
1 rows affected.

[]

In [9]:
%%sql
SELECT * FROM yeni_tablo;

 * sqlite:///vbo.db
Done.

[('Ali', 'Uzaya_Git'),
 ('Işık', 'Süte_Devam'),
 ('Ali', 'Uzaya_Git'),
 ('Işık', 'Süte_Devam')]

# SELECT İşlemleri

In [10]:
%%sql 
SELECT * FROM Products LIMIT 5;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT * FROM Products LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [11]:
%%sql
SELECT name FROM sqlite_master WHERE type = 'table';

 * sqlite:///vbo.db
Done.

[('yeni_tablo',)]

In [12]:
%%sql
SELECT * FROM Customers where 1=0;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers where 1=0;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [13]:
%%sql
SELECT * FROM Customers LIMIT 3;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers LIMIT 3;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [14]:
%%sql
SELECT CustomerName, City, Country FROM Customers LIMIT 5;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT CustomerName, City, Country FROM Customers LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [15]:
%%sql
SELECT * from Products LIMIT 3;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT * from Products LIMIT 3;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [16]:
#matemattiksel islemler

In [17]:
%%sql
SELECT Price, Price*3, Price*3-100 from Products LIMIT 3;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT Price, Price*3, Price*3-100 from Products LIMIT 3;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [18]:
#alias: takma isim, kısayol

In [19]:
%%sql
SELECT Price AS ilk_price, Price*3 AS yeni_price, Price*3-100 AS islemli_price from Products LIMIT 3;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT Price AS ilk_price, Price*3 AS yeni_price, Price*3-100 AS islemli_price from Products LIMIT 3;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [20]:
#count

In [21]:
%%sql
SELECT COUNT(*) AS satir_sayisi FROM Customers;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT COUNT(*) AS satir_sayisi FROM Customers;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [22]:
#order by

In [23]:
%%sql
SELECT * from Products LIMIT 3;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT * from Products LIMIT 3;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [24]:
%%sql
SELECT * from Products ORDER BY Price DESC LIMIT 10;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT * from Products ORDER BY Price DESC LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

# WHERE

In [25]:
%%sql
SELECT * FROM Customers LIMIT 10;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [26]:
#text string seçim

In [27]:
%%sql
SELECT * FROM Customers WHERE Country = 'Sweden';

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers WHERE Country = 'Sweden';]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [28]:
%%sql
SELECT * FROM Customers WHERE NOT City = 'Berlin' LIMIT 10;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers WHERE NOT City = 'Berlin' LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [29]:
#numerik/sayisal seçim

In [30]:
%%sql
SELECT * FROM Customers WHERE PostalCode = 5021;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers WHERE PostalCode = 5021;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [31]:
%%sql
SELECT * FROM Customers WHERE PostalCode > 5021;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers WHERE PostalCode > 5021;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [32]:
#and ve or ifadeleri

In [33]:
%%sql
SELECT * FROM Customers WHERE Country = 'UK' AND City = 'London';

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers WHERE Country = 'UK' AND City = 'London';]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [34]:
%%sql
SELECT * FROM Customers WHERE Country = 'UK' OR Country = 'USA';

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers WHERE Country = 'UK' OR Country = 'USA';]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [35]:
%%sql
SELECT * FROM Customers WHERE Country = 'USA' AND (City = 'Eugene' OR City = 'Elgin');

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers WHERE Country = 'USA' AND (City = 'Eugene' OR City = 'Elgin');]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [36]:
%%sql
SELECT * FROM Customers WHERE Country = 'USA' AND PostalCode = 97403 AND (City = 'Eugene' OR City = 'Elgin');

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers WHERE Country = 'USA' AND PostalCode = 97403 AND (City = 'Eugene' OR City = 'Elgin');]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [37]:
#in / not in kullanımı

In [38]:
%%sql
SELECT * FROM Customers WHERE CustomerID in (1,3,5,7);

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers WHERE CustomerID in (1,3,5,7);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [39]:
%%sql
SELECT * FROM Customers WHERE Country = 'USA' AND City IN ('Eugene','Elgin');

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers WHERE Country = 'USA' AND City IN ('Eugene','Elgin');]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [40]:
%%sql
SELECT * FROM Customers WHERE CustomerID NOT IN (1,3,5,7);

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers WHERE CustomerID NOT IN (1,3,5,7);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [41]:
%%sql
SELECT * FROM Customers WHERE Country = 'USA' AND City NOT IN ('Eugene','Elgin');

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers WHERE Country = 'USA' AND City NOT IN ('Eugene','Elgin');]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

# LIKE ile Seçim işlemleri

* 'a%' : “a” ile başlayan değerler
* '%a' : “a” ile biten değerler
* %or%' : herhangi bir yerinde “or” olan değerler
* '_r%' : ikinci sirasında “r” olan değerler
* 'a%%' : “a” ile başlayıp en az 3 karakterden oluşan değerler
* 'a%o' : “a” ile başlayıp “o” ile biten değerler

In [42]:
%%sql
SELECT * FROM Customers LIMIT 10;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [43]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE '%or%'LIMIT 10;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers WHERE CustomerName LIKE '%or%'LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [44]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE '%a'LIMIT 10;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers WHERE CustomerName LIKE '%a'LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [45]:
%%sql
SELECT * FROM Customers WHERE CustomerName LIKE 'A%' AND Country LIKE '%o';

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers WHERE CustomerName LIKE 'A%' AND Country LIKE '%o';]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

# BETWEEN

In [46]:
%%sql
SELECT * FROM Products LIMIT 10;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT * FROM Products LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [47]:
%%sql
SELECT * FROM Products WHERE Price NOT BETWEEN 10 AND 20 LIMIT 10;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT * FROM Products WHERE Price NOT BETWEEN 10 AND 20 LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [48]:
%%sql
SELECT * FROM Products WHERE (Price BETWEEN 10 AND 20) AND NOT CategoryID IN (1,2,3) LIMIT 10;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT * FROM Products WHERE (Price BETWEEN 10 AND 20) AND NOT CategoryID IN (1,2,3) LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [49]:
%%sql
SELECT ProductName FROM Products WHERE (Price BETWEEN 10 AND 20) AND NOT CategoryID IN (1,2,3) LIMIT 10;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT ProductName FROM Products WHERE (Price BETWEEN 10 AND 20) AND NOT CategoryID IN (1,2,3) LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [50]:
%%sql
SELECT * FROM Products WHERE ProductName BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Govanni';

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT * FROM Products WHERE ProductName BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Govanni';]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

# Aggregation Fonksiyonları: Temel İstatistiksel İşlemler

In [51]:
%%sql
SELECT * FROM Products LIMIT 10;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT * FROM Products LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [52]:
%%sql
SELECT MIN(Price) FROM Products;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT MIN(Price) FROM Products;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [53]:
%%sql
SELECT MAX(Price) FROM Products;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT MAX(Price) FROM Products;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [54]:
%%sql
SELECT MIN(Price) AS min_fiyat, MAX(Price) AS max_fiyat FROM Products;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT MIN(Price) AS min_fiyat, MAX(Price) AS max_fiyat FROM Products;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [55]:
%%sql
SELECT AVG(Price) FROM Products;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT AVG(Price) FROM Products;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [56]:
%%sql
SELECT SUM(Price) FROM Products;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT SUM(Price) FROM Products;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [57]:
%%sql
SELECT COUNT(Price), MIN(Price), MAX(Price), AVG(Price), SUM(Price) FROM Products;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT COUNT(Price), MIN(Price), MAX(Price), AVG(Price), SUM(Price) FROM Products;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

# GROUP BY ve Aggregation Fonksiyonları

In [58]:
%%sql
SELECT * FROM Customers LIMIT 3;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers LIMIT 3;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [59]:
%%sql
SELECT COUNT(CustomerID) AS MUSTERI_SAYISI, Country FROM Customers GROUP BY Country ORDER BY MUSTERI_SAYISI DESC;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT COUNT(CustomerID) AS MUSTERI_SAYISI, Country FROM Customers GROUP BY Country ORDER BY MUSTERI_SAYISI DESC;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [60]:
%%sql 
SELECT * FROM Products LIMIT 2;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT * FROM Products LIMIT 2;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [61]:
%%sql
SELECT AVG(Price) AS ORT_FIYAT, CategoryID FROM Products GROUP BY CategoryID;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT AVG(Price) AS ORT_FIYAT, CategoryID FROM Products GROUP BY CategoryID;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

# JOIN İşlemleri

In [62]:
%%sql 
SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///vbo.db
Done.

[('yeni_tablo',)]

In [63]:
%%sql
SELECT * FROM Categories LIMIT 3;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Categories
[SQL: SELECT * FROM Categories LIMIT 3;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [64]:
%%sql
SELECT * FROM Products LIMIT 3;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT * FROM Products LIMIT 3;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [65]:
#left join

In [66]:
%%sql
SELECT * FROM Products LEFT OUTER JOIN Categories ON Products.CategoryID = Categories.CategoryID LIMIT 5;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT * FROM Products LEFT OUTER JOIN Categories ON Products.CategoryID = Categories.CategoryID LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [67]:
%%sql
SELECT PR.ProductName, CA.CategoryID, CA.CategoryName FROM Products AS PR LEFT OUTER JOIN Categories AS CA ON PR.CategoryID = CA.CategoryID LIMIT 5;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT PR.ProductName, CA.CategoryID, CA.CategoryName FROM Products AS PR LEFT OUTER JOIN Categories AS CA ON PR.CategoryID = CA.CategoryID LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [68]:
%%sql
SELECT PR.ProductName, CA.CategoryID, CA.CategoryName FROM Products PR LEFT OUTER JOIN Categories CA ON PR.CategoryID = CA.CategoryID LIMIT 5;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Products
[SQL: SELECT PR.ProductName, CA.CategoryID, CA.CategoryName FROM Products PR LEFT OUTER JOIN Categories CA ON PR.CategoryID = CA.CategoryID LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [69]:
#inner join

In [70]:
%%sql
SELECT * FROM Customers LIMIT 3;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT * FROM Customers LIMIT 3;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [71]:
%%sql
SELECT * FROM Orders LIMIT 3;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Orders
[SQL: SELECT * FROM Orders LIMIT 3;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [72]:
%%sql
SELECT Orders.OrderID, Customers.CustomerName FROM Orders INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Orders
[SQL: SELECT Orders.OrderID, Customers.CustomerName FROM Orders INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [73]:
%%sql
SELECT COUNT(*) FROM (SELECT Orders.OrderID, Customers.CustomerName FROM Orders INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID);

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Orders
[SQL: SELECT COUNT(*) FROM (SELECT Orders.OrderID, Customers.CustomerName FROM Orders INNER JOIN Customers ON Orders.CustomerID = Customers.CustomerID);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

# SQL ve Pandas DataFrame Operasyonları

In [74]:
import pandas as pd

In [75]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [76]:
%sql sqlite:///vbo.db

In [77]:
%sql SELECT COUNT(CustomerID) AS MUSTERI_SAYISI, Country FROM Customers GROUP BY Country ORDER BY MUSTERI_SAYISI DESC;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT COUNT(CustomerID) AS MUSTERI_SAYISI, Country FROM Customers GROUP BY Country ORDER BY MUSTERI_SAYISI DESC;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [78]:
df = %sql SELECT COUNT(CustomerID) AS MUSTERI_SAYISI, Country FROM Customers GROUP BY Country ORDER BY MUSTERI_SAYISI DESC;

 * sqlite:///vbo.db
(sqlite3.OperationalError) no such table: Customers
[SQL: SELECT COUNT(CustomerID) AS MUSTERI_SAYISI, Country FROM Customers GROUP BY Country ORDER BY MUSTERI_SAYISI DESC;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [79]:
df

In [80]:
df.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [ ]:
type(df)

In [ ]:
dff = pd.DataFrame(df, columns = ["MUS_SAY","ULKE"])

In [ ]:
dff

In [ ]:
dff.head()

In [ ]:
dff.plot.barh(x = "ULKE", y = "MUS_SAY");

# sqlite3

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('vbo.db')

In [ ]:
?conn

In [ ]:
c = conn.cursor()

In [ ]:
?c

In [ ]:
?pd.read_sql

In [ ]:
#read_sql

In [ ]:
pd.read_sql("SELECT COUNT(CustomerID) AS MUSTERI_SAYISI, Country FROM Customers GROUP BY Country;", conn)

In [ ]:
pd.read_sql("""SELECT 
COUNT(CustomerID) AS MUSTERI_SAYISI, Country 
FROM 
Customers 
GROUP BY Country;""", conn)

In [ ]:
ab = pd.read_sql("""SELECT 
COUNT(CustomerID) AS MUSTERI_SAYISI, Country 
FROM 
Customers 
GROUP BY Country;""", conn)

In [ ]:
ab

In [ ]:
type(ab)

In [ ]:
#conn.close()

In [ ]:
c.execute("SELECT CustomerName FROM Customers LIMIT 5;")

In [ ]:
c.fetchone()

In [ ]:
c.fetchall()

In [ ]:
for row in c.execute('SELECT CustomerName FROM Customers LIMIT 5;'):
                     print(row)

In [ ]:
conn.close()

# SQL ALIŞTIRMALARI 1

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///vbo.db

In [ ]:
%%sql
SELECT * FROM Customers LIMIT 3;

# 1. Orders tablosunda kaç müşteri oldugunu bulunuz.

## 2. Orders tablosunda kaç tane eşsiz müşteri olduğunu bulunuz.

## 3. Customers tablosunda hangi ülkeden kaçar tane müşteri olduğunu bulunuz.

## 4. Müşterilerin ülkesi Brazil ya da USA olanlarını bulunuz.

## 5. Önce ülkeye sonra şehre göre group by işlemi yapıp bu kırılımda müşteri sayısını bulunuz.

# SQL ALIŞTIRMALARI II

## 6. Müşterileri adreslerinin herhangi bir yerinde "da" ifadesi geçen tüm adresleri bulunuz.

## 7. Germany-Berlin'de yaşayan müşteri/müşterilerin isimleri nelerdir?

## 8. Canada'da yaşayıp isimlerinde "in" ifadesi geçen müşteri/müşterileri bulunuz.

## 9. Fiyatı 40 TL ile 90 TL arasında olan ürünlerin isimleri ve fiyatları nelerdir?

## 10. Fiyatı 30 TL'den büyük olan ürünlerin isimlerini, fiyatlarini ve fiyatlarinin karesini bulunuz ve tüm değişkenlerin isimlendirmelerini aşağıdaki şekilde yapınız:

urun ismi, urun_fiyati, ürün_fiyatinin_karesi

# SQL ALIŞTIRMALARI III

## 11. Products tablosundaki CategoryID’lerin yani kategorilerin isimleri nelerdir?

## 12. beverages ürün kategorisindeki ürünlerin fiyat ortalaması nedir?

## 13. USA'de yaşayan müşterilerin kazandırdığı toplam kazancı bulunuz.

## 14. Products tablosundaki CategoryID'lerin isimlerini bulunuz ve sonrasında kategori başına ortalama ürün fiyatını gösteriniz.

## 15. Çalışanları (EmployeeID) isimleri ile birlikte yaptıkları toplam satışlara göre sıralayınız.

# SQL ALIŞTIRMALARI IV

## 16. Germany'dan verilen siparişlerin kategorilerine göre ortalama fiyatları nelerdir?

## 17. Almanya ya da USA'den verilen siparişlerin kategorilerine göre ortalama fiyatları nelerdir?

## 18. Haziran Temmuz Ağustos aylarında verilen siparişlerin ortalama fiyatı nedir?

## 19. Müşterilerin 1997 yılına ait siparişlerinin maksimum miktarlarını bulup müşterilerin isimleri ile birlikte büyükten küçüğe sıralayınız.

## 20. Sipariş yılı 1997 olan siparişleri alan çalışanları sipariş alma sayılarına göre sıralayınız.